@import 'pages/home';
@import 'pages/lpdg';
@import 'layout/header';
@import 'layout/footer';

/*Ceci est ma page principale de style*/
body {
      max-width: 1300px;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
}
a:link { 
 text-decoration:none; 
}