
                  /*Page principale de style*/
@import'utils/variable';
@import 'utils/mixin';
@import 'utils/extension';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/home';
@import 'pages/lpdg';

                  /*mise en page générale*/

body {
      max-width: 1300px;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
}        
a:link { 
      text-decoration:none; 
}
