@charset "UTF-8";
/*Ceci regroupe les sous-dossiers de -layout et de -pages */
/*couleurs*/
/*tailles de police ou d'icône*/
/* mixin*/
/*extensions*/
.button, #explore1 .explore2, .choose, .compose, .in_situ, .lpdg {
  width: 250px;
  -webkit-box-shadow: 0px 5px 0px #DCDCDC;
          box-shadow: 0px 5px 0px #DCDCDC;
  -webkit-transition: 1000ms;
  transition: 1000ms;
  border-radius: 25px;
  border: 1px solid #F2F2F2;
}

.button:hover, #explore1 .explore2:hover, .choose:hover, .compose:hover, .in_situ:hover, .lpdg:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  -webkit-box-shadow: 20px 15px 2px 0px #DCDCDC;
          box-shadow: 20px 15px 2px 0px #DCDCDC;
}

/*Ma page d'accueil  hors en tête*/
/* mobile first*/
body {
  min-width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

/*première section - réserver le menu*/
section {
  max-width: 505px;
  background-color: #F2F2F2;
  text-align: center;
}

.reserve {
  background-color: #F2F2F2;
}

#aroundme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DCDCDC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fas.fa-map-marker-alt {
  margin-left: 0;
  margin-right: 0;
}

::-webkit-input-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

::placeholder {
  color: #000;
}

#city {
  text-align: center;
  border: none;
  background-color: #DCDCDC;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  text-align: center;
  padding: 10px 25px 10px 10px;
}

#explore1 {
  /* background-color: $greybground;
      text-align: center;
      padding: 10px 25px 25px 10px;*/
}

#explore1 .explore2 {
  background: linear-gradient(355deg, #9356DC 30%, #FF79DA 70%);
  color: #fff;
  height: 35px;
  padding-top: 15px;
  margin: 25px 10px;
}

/*Partie main, sous-partie aside et ensemble container_choice*/
aside {
  color: #000;
}

aside .borders {
  text-align: left;
  width: 475px;
}

.container_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-left: 0px;
}

.choose, .compose, .in_situ {
  width: 80%;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 0px;
}

.choose:hover, .compose:hover, .in_situ:hover {
  background: #ffc6ef;
}

h3 {
  color: #000;
  word-break: break-word;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 5px;
}

.fas.fa-1, .fas.fa-2, .fas.fa-3, .fas.fa-mobile-alt, .fas.fa-list, .fas.fa-store {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.fas.fa-1::before, .fas.fa-2::before, .fas.fa-3::before, .fas.fa-mobile-alt::before, .fas.fa-list::before, .fas.fa-store::before {
  font-size: 1em;
}

.fas.fa-1 :hover, .fas.fa-2 :hover, .fas.fa-3 :hover, .fas.fa-mobile-alt :hover, .fas.fa-list :hover, .fas.fa-store :hover {
  color: #9356DC;
}

.fas.fa-1, .fas.fa-2, .fas.fa-3 {
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: left;
  background-color: #9356DC;
  color: #fff;
  border: 1px solid #9356DC;
  border-radius: 50%;
}

.fas.fa-mobile-alt, .fas.fa-list, .fas.fa-store {
  width: 60px;
  padding-top: 5px;
}

.fas.fa-1::before {
  content: "\31";
}

.fas.fa-2::before {
  content: "\32";
}

.fas.fa-3::before {
  content: "\33";
}

/*
.fas.fa-mobile-alt::before {
      content: "\f3cd";
}
.fas.fa-list::before {
      content : "\f03a";
}
.fas.fa-store::before {
      content : "\f54e";
}
*/
/* partie main section avec cards*/
.lpdg {
  width: 80%;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#lpdg_home {
  width: 100%;
  border: 1px solid black;
}

/*version tablette*/
@media screen and (min-width: 768px) {
  .reserve {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #aroundme, #explore1 {
    max-width: 505px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  /*Partie main, sous-partie aside et ensemble container_choice*/
  .borders {
    text-align: center;
  }
  .container_choice {
    max-width: 895px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .choose, .compose, .in_situ {
    width: inherit;
  }
  /* partie main section avec cards*/
  section {
    max-width: none;
  }
}

/* ma version desktop*/
@media screen and (min-width: 992px) {
  .reserve {
    background-color: #fff;
  }
  .container_choice {
    width: inherit;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .choose, .compose, .in_situ {
    margin-bottom: 30px;
  }
  .fas.fa-1::before, .fas.fa-2::before, .fas.fa-3::before, .fas.fa-mobile-alt::before, .fas.fa-list::before, .fas.fa-store::before {
    font-size: 1.5em;
  }
}

/* en-têtes de pages*/
/*ma police d'écriture*/
header {
  margin: 0 auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/*Ceci est ma page principale de style*/
* {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */