@import 'layout/header';
/*@import 'layout/footer';*/
@import 'pages/home';
/* @import 'pages/lpdg';*/


/* variables*/
/*@import 'utils/variable'; */
/* mixin*/
/*@import 'utils/mixin';*/
/*extensions*/
@import 'utils/extension';

/*Ceci est ma page principale de style*/
      /*mise en page générale*/

body {
      max-width: 1300px;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
}        
a:link { 
      text-decoration:none; 
}
