                  /* en-tête de page*/

header {
      margin: 0 auto;
}

.logo {
      font-family: $font-fam_titles;
      display: flex;
      text-align: center;
      justify-content: center;
      align-content: center;
      
}
