                  /* en-tête de page*/

header {
      margin: 0 auto;
      text-decoration: none;
}
.h_nav {
      display: flex;
      justify-content: center;
      align-items: center;
}

.logo {
      font-family: $font-fam_titles;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 75px;       
}
nav a {
      font-size: $ftsize+0.5em;
      color: #000;
}
