.card:hover {
      .card_legend {
            width: 80%;
      }
      .price {
            transform: translateX(-50px);
      }
      .okay {
            transform: translate(-54px);
            .fas.fa-check-circle {
                  animation: rotate 500ms 1 ease-in;
            }
      }
}

      @keyframes rotate {
                  0% {
                        transform: rotateZ(0deg);
                  }
                  50% {
                        transform: rotateZ(-180deg);                        
                  }
                  100% {
                        transform: rotateZ(-360deg);
                  }
            }

