/*dans home.scss*/
.homepage {
      .hearts {
            .far.fa-heart, .fas.fa-heart {
                  font-size: 2*$ftsize;
                  position: absolute;
                  top: 190px;
                  right: 30px;
            }
      }
} 
.far.fa-heart {
      opacity: 1;
      &:hover {
      opacity: 0;           
      }
}
.fas.fa-heart {
      opacity: 0;
      background: linear-gradient(355deg, $primary 30%, $secondary 70%);
      -webkit-background-clip: text;
      background-clip: text;      
      color: transparent;
      &:hover {
            transform: scale(1.1);
            transition: 2s;
            opacity: 1;
      }
}

/* dans lpdg.scss*/
.lpdgpage, .lnepage, .alfpage, .lddspage {
      .hearts2 {
            position: relative;
            .far.fa-heart, .fas.fa-heart {
                  font-size: 2*$ftsize;
                  position: absolute;
                  top: -15px;
                  right: -10px;
            }
      }
}