
/*extensions*/
.button {
      box-shadow: 1px 5px 15px $greyaround;
      transition: 500ms;
      border-radius: 25px;
      border: 1px solid $greybground;
      &:hover{
            filter: opacity(70%);           
            box-shadow: 15px 10px 10px #708090;                  
      }
}