/*couleurs*/
$greyaround: #DCDCDC;
$greybground: #F2F2F2;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
/*polices icones en particulier*/
$ftsize: 1em;
/*police spéciale logo et titres*/
$font-fam_titles: 'Shrikhand', cursive;