/*couleurs*/
$greyaround: #DCDCDC;
$greybground: #F2F2F2;
$primary: #9356DC;
$secondary: #FF79DA;

/*tailles de police ou d'icône*/
$ftsize: 1.1em;

/* mixin*/
@mixin museum-setting {
      width: 80%;
      max-width: 350px;
      margin-top: 20px;
      margin-bottom: 20px;     
}

@mixin centernull {
      text-align: center;
      margin-right: 0;
      margin-left: 0;
}


/*extensions*/
.button {
      box-shadow: 0px 5px 0px $greyaround;
      transition: 1000ms;
      border-radius: 25px;
      border: 1px solid $greybground;
      &:hover{
            transform: scale(1.01);
            filter: opacity(70%);           
            box-shadow: 20px 15px 2px 0px $greyaround;                  
      }
}



      

/*Ma page d'accueil  hors en tête*/
      /* mobile first*/
body {
      /*box-sizing: border-box;*/
      min-width: 250px;
      flex-direction: column;
      text-decoration: none;
      list-style-type: none;
}

      /*première section - réserver le menu*/
section {
      display: flex;
      justify-content: center;
      align-items: center;      
      text-align: center;
      background-color: $greybground;
}
.reserve {      
      background-color: $greybground;
      display: flex;
      flex-direction: column;
      /*justify-content: center;
      align-items: center;
      text-align: center;*/
}
#aroundme {
      width: 100%;
      background-color: $greyaround;
      padding-top: 10px;
      padding-bottom: 10px; 
}
.fas.fa-map-marker-alt{  
      @include centernull;
}
::placeholder{
      color: #000;
}
#city {
      @include centernull;
      border: none;
      background-color: $greyaround;
}

#explore1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .explore2 {
            @extend .button;
            width: 250px;
            height: 35px;
            background: linear-gradient(355deg, $primary 30%, $secondary 70%);
            color:#fff;
            padding-top: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
      }
}

      /*Partie main, sous-partie aside et ensemble container_choice*/
/*aside {
      color: #000;*/
.borders {
            max-width: 485px;
            text-align: start;
            padding: 10px 25px;
}     

.container_choice {
      display: flex;
      flex-direction: column;      
}
.choose {
      @extend .button;
      width: 88%;
      max-width: 505px;
      height: 80px;
      display: flex;
      align-items: center;
      background: $greybground;    
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      &:hover{
            background-color: lighten($primary,30%);
      }
}
.number{
      position: absolute;
      right: 93%;
      p {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: $primary;
      color: #fff;
      border: 1px solid $primary;
      border-radius: 50%;
      }
}


.picture {
      width: 15%;
      font-size: $ftsize;
      text-align: right;
      &:hover{
            color: $primary;
      }
}
h3 {
      width: 75%;
      font-size: $ftsize;
}

      /* partie main section avec cards*/


.menu_card {
      @extend .button;
      background-color: #fff;
      display: flex;
      margin: 20px;

}
#img_home {
      width: 95%;
      height: 50%;
      object-fit: cover;
      border: 1px solid $primary;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;   
}
.icon-legend {
      height: 50%;
}
.card_legend {

}











      /*version tablette*/
      @media screen and (min-width:768px) {
            .reserve {                  
                  background-color: #fff;           
                  border-bottom-right-radius: 20px;
                  border-bottom-left-radius: 20px;
            }
      
            #aroundme, #explore1 {
                  max-width: 505px;
                  border-top-right-radius: 20px;
                  border-top-left-radius: 20px;
            }
      /*Partie main, sous-partie aside et ensemble container_choice*/
            .borders {
                  text-align: center;
            }
            .container_choice{
                  max-width: 895px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
            }
            a {
                  margin-right: 10%;
            }
            .choose {
                  width: 40%;
                  padding-right: 0px;
                  padding-left: 0px;
            }
      /* partie main section avec cards*/
            section {
                  max-width: none;
            }
       
      }
   








            /* ma version desktop*/            
            @media screen and (min-width: 992px) {

                  .container_choice {
                        width: inherit;
                        align-content: center;
                  }
            
                  .choose {
                        margin-bottom: 30px;
                  }
            }