
                        /*Page d'accueil  hors en tête*/
                  /* mobile first*/
                  /*première section - réserver le menu*/
      /*mise en page générale*/
.homepage {
      margin: 0 auto;
}
section, aside {
      @include frontiers;
}
                  /* première section avec reserve #aroundme et explore */
section {
      background-color: $greybground;
}
.reserve {
      @include frontiers;
      text-align: center; 
      background-color: $greybground;
      flex-direction: column;
}
#aroundme {
      width: 100%;
      background-color: $greyaround;
      box-shadow: 0px 6px 7px -2px rgba(83,92,101,0.5) inset;
      padding-top: 10px;
      padding-bottom: 10px; 
      h2 {
            padding-right: 15px;
            padding-left: 15px;
      }
}
#city {
      text-align: center;
      margin-right: 0;
      margin-left: 0;
      border: none;
      background-color: $greyaround;
}
#explore1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;      
      p {
            padding-right: 15px;
            padding-left: 15px;
      }
      .explore2 {
            @extend .button;
            width: 250px;
            height: 35px;
            background: linear-gradient(355deg, $primary 30%, $secondary 70%);
            color:#fff;
            padding-top: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
      }
}
      /*Partie main, sous-partie aside le H2 en .borders et l'ensemble container_choice*/

aside {
      background-color: #fff;
}
.borders {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 10px 25px;
}
.container_choice {
            margin: 0 auto;
            max-width: 500px;
            @include frontiers;
}
.choose {
      @extend .button;
      height: 85px;
      width: 280px;
      display: flex;
      align-items: center;
      background: $greybground;
      margin-bottom: 30px;
      position: relative;
      &:hover{
            background-color: lighten($primary,30%);
            .picture {
                  color: $primary;
            }
      }
      @media screen and (min-width: 415px) {
            width: 350px;          
      }
}
.number{
      position: absolute;
      right: 95%;
      p {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: $primary;
            color: #fff;
            border: 1px solid $primary;
            border-radius: 50%;
      }
}
.picture {
      width: 15%;
      font-size: $ftsize;
      text-align: right;
}
.choose h3 {
      padding-left: 5%;
}
      /* partie main section avec cards 
      et animation heart-icon heart dans _heart.scss*/
.menu_card {  
      @include frontiers; 
      @extend .button;
      margin: 0 auto;
      width: 80%;
      max-width: 390px;
      background-color: #fff;
      display: flex;
      margin-bottom: 30px;
      #img_home1, #img_home2, #img_home3, #img_home4 {
            width: 100%;
            max-height: 160px;
            object-fit: cover;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
      }
}
.icon-legend {
      height: 90px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;
}
.text {
      padding-left: 10px;
      width: 70%;
      h3, p {
            margin-top: 0;
            margin-bottom: 0;
            text-align: left;
      }
}

      /* encadré nouveau*/
.menu_card{
      position: relative;
      .new {
            width: fit-content;
            border: 1px solid darken($tertiary,30%);
            border-radius: 5px;
            color: darken($tertiary,30%);
            background-color: $tertiary;
            box-shadow: 2px 2px 5px darken($greyaround, 30%);
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 15px;
            padding-left: 15px;
            position: absolute;
            top: 20px;
            right: 20px;            
            }
      }









                  /*version tablette*/
      @media screen and (min-width:768px) {
      /* première section avec reserve #aroundme et explore */
            section {
                  display: flex;
                  justify-content: center;
                  align-items: center;  
                  text-align: center;
                  background-color: inherit;
                  padding-bottom: 5px;
            }           
            .reserve {
                  width: 550px;                
                  background-color: #fff;           
                  border-bottom-right-radius: 20px;
                  border-bottom-left-radius: 20px;
            }      
            #aroundme, #explore1 {
                  border-radius: 30px;
            }
      /*Partie main, sous-partie aside le H2 en .borders
      et l'ensemble container_choice*/
            aside,section {
                  .borders {                        
                        text-align: center;
                        padding: 10px 0;
                  }
            } 
            section .borders {
                  width: 100%;
            }

            
            .container_choice{
                  width: inherit;
                  max-width: none;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
            }
            .choose {
                  width: 40%;
                  padding-right: 0px;
                  padding-left: 0px;
                  margin-right: 20px;
                  margin-left: 20px;
            }            
      /* partie main section avec cards, la partie hearts est _heart.scss*/
            main section {
                  max-width: none;
                  flex-direction: row;
                  flex-wrap: wrap;
            }
            .menu_card{
                  margin-left: 15px;
                  margin-right: 15px;
                  #img_home1, #img_home2, #img_home3, #img_home4 {
                        width: 390px;                  
                  }
            }
      }









                  /* version desktop*/            
            @media screen and (min-width: 992px) {
                  .container_choice {
                        max-width: 1000px;
                  }
                  .choose {
                        margin-bottom: 30px;
                  }
            }
      
