
                  /*le palais du goût*/
      /*version mobile*/
                  /* règle présentation générale */

.lpdgpage {
      margin: 0 auto;
      max-width: 1000px;
}
                  /*première section avec titre page img et icone coeur*/

.title {
      display: flex;
      justify-content: center;
      align-items: center;
}
#img_home1, #img_home2, #img_home3, #img_home4 {
      max-width: 500px;
      height: 350px;
      object-fit: cover;
      position: relative;
}
.legend {
      width: 100%;
      min-width: 410px;
      max-width: 500px;
      height: 100px;
      display: flex;
      align-items: center;
      background-color: $greybground;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      position: absolute;
      top: 350px;
}
.text2 {
      width: 330px;
      font-family: $font-fam_titles;
      font-size: 2*$ftsize;
      padding-left: 20px;
      margin: 0.67em 0;      
}
.legend {
      .hearts {
            position: absolute;
            top: 50px;
            right: 100px;
      }
      .fas.fa-heart {
            width: 50px;
            position: absolute;
            right: -62px;
      }
}

      /*partie main puis article avec starters ... */

.lpdgpage main {
      width: 100%;
      background-color: $greybground;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.starters {
      animation: slide-bottom 2s linear 1s both;
      opacity: 1;
}
@keyframes slide-bottom {
      0% {
            transform: translateY(0);
            opacity: 0;
      }
      50% {
            transform: translateY(25px);
            opacity: 0.5;
      }
      100% {
            transform: translateY(50px);
            opacity: 1;
      }
}
.dishes {
      animation: slide-bottom 2s linear 3s both;
      opacity: 1;
}
.desserts {
      animation: slide-bottom 2s linear 5s both;
      opacity: 1;
      margin-bottom: 100px;
}
   
h4 {
      text-transform: uppercase;
      text-align: start;
      padding-left: 25px;
      margin-top: 0;
      margin-bottom: 0;
}
.underline {
      border: 2px solid $tertiary;
      background-color: $tertiary;
      width: 35px;
      margin-top: 5px;
      margin-bottom: 15px;
      margin-left: 25px;

}
article {
      width: 350px;
}
.card {
      @extend .button;
      border-radius: 30px;
      height: 80px;
      max-width: 500px;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 25px 0;
}
.card_legend {
      width: 80%;
      h3, p {
            margin: 0;
            padding-left: 15px;
      }
}
.price {
      width: 10%;
      font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 50%;
}
.okay {
      width: 10%;
}
      /* bouton commander partie main et dernière div*/
main #explore1 .explore2 {
      width: 200px;
      height: 40px;
      text-align: center;     

}











                              /*version tablette*/
      @media screen and (min-width:768px) {
            .title {
                  background-color: #fff;
                  border-bottom-right-radius: 20px;
                  border-bottom-left-radius: 20px;
            }            
            #img_home1, #img_home2, #img_home3, #img_home4 {
                  height: 335px;
                  border-top-right-radius: 20px;
                  border-top-left-radius: 20px;
            }
            .lpdgpage main {
                  width: 100%;
                  max-width: none;
                  background: linear-gradient(45deg, rgba(147,86,220,1) 40%, rgba(242,242,242,1) 60%);
            }
            main #explore1 {
                  background-color: $greybground;
                  border-bottom-right-radius: 20px;
                  border-bottom-left-radius: 20px;
                  margin-bottom: 5px;
                  margin-left: 5px;
                  margin-right: 5px;
            }

      }