
                  
                  /*extension*/
.button {
      box-shadow: 1px 5px 15px $greyaround;
      transition: 500ms;
      border-radius: 25px;
      border: 1px solid $greybground;
      &:hover{
            filter: opacity(70%);           
            box-shadow: 15px 10px 10px #708090;                  
      }
}

                  /*le palais du goût*/
      /*version mobile*/
                  /* règle présentation générale */
.lpdgpage {
      margin: 0 auto;
      max-width: 1300px;
      @include frontiers;
      display: flex;
      justify-content: center;
      align-items: center;

}
                  /*première section avec h1 img et icone coeur*/
.lpdgpage section, .title {
      background-color: #fff;
      width: 100%;
      display: flex;
}
.lpdgpage, .lpdgpage section {
      justify-content: center;
      align-items: center;
}
#img_home1, #img_home2, #img_home3, #img_home4 {
      width: 100%;
      max-width: 500px;
      height: 350px;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      position: relative;
}
.title {
      max-width: 500px;
      background-color: $greybground;
      border: 1px solid $greybground;
      border-bottom-color: transparent;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      position: absolute;
      top: 350px;

}
.title h1 {
      font-family: $font-fam_titles;
      width: 75%;
      max-width: 335px;
      position: relative;
}
.heart-icon1 {
      top: 15px;
      right: 35px;
}

      /*partie main puis article avec starters */
main {
      width: 100%;
      padding-top: 25px;
      background-color: $greybground;
}

h4 {
      text-transform: uppercase;
      text-align: start;
      padding-left: 25px;
}
.menu_card {  
      @include frontiers; 
      @extend .button;
      margin: 0 auto;
      width: 80%;
      // max-width: 390px;
      background-color: #fff;
      display: flex;
      margin-bottom: 30px;
}
.card_legend {
      // width: 65%;
      h3, p {
            text-align: left;
            padding-left: 5%;
      }
      h3 {
            margin-bottom: 0;
      }
      p {
            margin-top: 0;
      }
}
