
                  /*le palais du goût*/
      /*version mobile*/
                  /* règle présentation générale */
.lpdgpage {
      margin: 0 auto;
      max-width: 1300px;
      @include frontiers;
      display: flex;
      justify-content: center;
      align-items: center;

}
                  /*première section avec h1 img et icone coeur*/
.lpdgpage section, .title {
      background-color: #fff;
      width: 100%;
      display: flex;
}
.lpdgpage, .lpdgpage section {
      justify-content: center;
      align-items: center;
}
#img_home1, #img_home2, #img_home3, #img_home4 {
      width: 100%;
      max-width: 500px;
      height: 350px;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      position: relative;
}
.title {
      max-width: 500px;
      background-color: $greybground;
      border: 1px solid $greybground;
      border-bottom-color: transparent;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      position: absolute;
      top: 350px;

}
.title h1 {
      font-family: $font-fam_titles;
      width: 75%;
      max-width: 335px;
      position: relative;
}
.heart-icon1 {
      top: 15px;
      right: 35px;
}

      /*partie main puis article avec starters */
.lpdgpage main {
      width: 100%;
      max-width: 500px;
      background-color: $greybground;
}
article {
      margin-top: 40px;
}
h4 {
      text-transform: uppercase;
      text-align: start;
      padding-left: 25px;
      margin-top: 0;
      margin-bottom: 0;
}
.underline {
      border: 2px solid $tertiary;
      width: 35px;
      margin-top: 5px;
      margin-bottom: 15px;
      margin-left: 25px;

}
article .menu_card {
      width: 90%;
      max-width: none;
      margin: 0 auto;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
}
.card_legend {
      width: 70%;
      h3, p {
            text-align: left;
      }
}
.price {
      width: 30%;
      font-weight: bold;
      p {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 50%;
      }

}
